<ion-header>
  	<ion-navbar>
	  	<ion-grid>
			<ion-row>
				<ion-col>
					<ion-icon name="menu" menuToggle float-start style='font-size: 3rem; cursor: pointer;'></ion-icon>
				</ion-col>
				<ion-col>
					<div style="font-size: 2rem;" text-center>Rewards</div>
				</ion-col>
				<ion-col>
				</ion-col>
			</ion-row>
	  	</ion-grid>
  	</ion-navbar>
</ion-header>

<ion-content padding ngSwitch="res.message2">
	<form (submit)="loginFunc()" #loginForm>
	<ion-list *ngIf="!res.flagShow">
		<ion-item>
			<ion-label>
				<ion-icon name='person'></ion-icon>
			</ion-label>
			<ion-input placeholder="ชื่อผู้ใช้" name="username" [(ngModel)]="data.username" clearInput></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>
				<ion-icon name='key'></ion-icon>
			</ion-label>
			<ion-input placeholder="รหัสผ่าน" type="password" name="password" [(ngModel)]="data.password" clearInput></ion-input>
		</ion-item>
		<ion-item *ngIf="res.showPass">
			<ion-label>
				<ion-icon name='key' style='margin-right: 1rem;'></ion-icon>
				{{data.password}}
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-checkbox name="showPass" [(ngModel)]="res.showPass"></ion-checkbox>
			<ion-label>
				แสดงรหัสผ่าน
			</ion-label>
		</ion-item>
	</ion-list>
	<button type="submit" *ngIf="data.username != '' && data.password != '' && !res.flagShow" ion-button>เข้าสู่ระบบ</button>
	</form>
	<div *ngIf="(data.password == '' || data.username == '') && !res.flagShow">
		<br/>
		กรุณากรอกชื่อผู้ใช้และรหัสผ่านให้ครบถ้วน
	</div>
	<p>{{res.message}}</p>
	<div *ngIf="res.flagShow">
		<p>ข้อมูลการเข้าระบบของคุณ {{res.message2}}</p>
		<button (click)="outFunc()" ion-button>ออกจากระบบ</button>
	</div>
</ion-content>