
<ion-header>
  <ion-navbar>
    <div style='float: left;'>
		<ion-icon name="menu" menuToggle style='padding-left: 1rem; font-size: 3rem; cursor: pointer;'></ion-icon>
	</div>
	<div style='text-align: center;'>
		<ion-title style='margin: auto;'>About</ion-title>
	</div>
  </ion-navbar>  
</ion-header>

<ion-content padding ngSwitch="res.message2">
	<form (submit)="loginFunc()" #loginForm>
	<ion-list *ngIf="res.message2==null || res.message2==''">
		<ion-item>
			<ion-label>
				<ion-icon name='person'></ion-icon>
			</ion-label>
			<ion-input placeholder="ชื่อผู้ใช้" name="username" [(ngModel)]="data.username" clearInput></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>
				<ion-icon name='key'></ion-icon>
			</ion-label>
			<ion-input placeholder="ชื่อผู้ใช้" type="password" name="password" [(ngModel)]="data.password" clearInput></ion-input>
		</ion-item>
		<ion-item>
			<button type="submit" (hidden)="!loginForm.form.valid" ion-button>เข้าสู่ระบบ</button>
		</ion-item>
	</ion-list>
	</form>
	<p></p>
	<p>{{res.message}}</p>
	<div *ngIf="res.message2">
		<p>ข้อมูลการเข้าระบบของคุณ {{res.message2}}</p>
		<button (click)="outFunc()" ion-button>ออกจากระบบ</button>
	</div>
</ion-content>