page-technology {
	.technology-box {
		position: relative;
		border-radius: 4rem;
		height: 100%;
		width: 100%;
	}
	.technology-contain {
		position: relative;
		height: 23%;
		margin: 0.5rem;
		padding: 0.5rem;
		border-bottom: 1px solid #dedede; 
	}
}
