<ion-header>
	<div class="search-suggest-wrapper">
		<ion-item *ngIf="suggestloading">
			<div style="width: 100%; text-align: center;" *ngIf="!meter">
				<ion-spinner name="circles" style="margin: auto;"></ion-spinner>
			</div>
		</ion-item>
		<div *ngIf="match">
			<div *ngIf="match.length > 0 && word.length > 0">
				<ion-item *ngIf="word !== match[0].fullword" (click)="chooseword(word)">
					<p style="display: inline-block;">{{word}}</p>
				</ion-item>
			</div>
		</div>
		<ion-item *ngFor="let m of match" (click)="chooseword(m.fullword)">
			<p style="display: inline-block;">{{m.firstnon}}</p>
			<p style="display: inline-block;" class="matchword">{{m.word}}</p>
			<p style="display: inline-block;">{{m.lastnon}}</p>
		</ion-item>
		<div style="position: -webkit-sticky; position: sticky; bottom: 0px;">
			<div *ngIf="match">
				<div *ngIf="match.length > 0 && word.length > 0">
					<div class="border-bottom"></div>
				</div>
			</div>
		</div>
	</div>
  	<ion-navbar class="no-padding">
      	<ion-grid class="nav-bar">
			<ion-row>
				<ion-col>
					<button class="icon-menu override-button-inner text-left full-width nav-bar" menuToggle>
						<ion-icon name="menu"></ion-icon>
					</button>
				</ion-col>
				<ion-col class="text-menu align-center" style="-webkit-flex: 3;">
					<div style="width: 100%; transform: translate(-16%,0%);">
						ค้นหาหนังสือ
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
  	</ion-navbar>
	<ion-navbar class="no-padding">
		<ion-searchbar
		[(ngModel)]="word"
		[showCancelButton]="false"
		(ionInput)="searchsuggestor()"
		style="width: 85%; display: inline-block;">
		</ion-searchbar>
		<button ion-button class="primary" (click)="searching()" style="width: 9%; display: inline-block; vertical-align: top;">
			<ion-icon name="md-search" class="align-right pointer"></ion-icon>
		</button>
	</ion-navbar>
	<ion-navbar class="no-padding">
      	<ion-grid>
			<ion-row style="max-height: 100%;">
				<ion-col style="width: 50%;">
					<ion-label style="max-width: 42%; width: 42%; max-height: 100%; margin: 0rem; padding: 0rem;" class="inline">ค้นหา</ion-label>
					<ion-select [(ngModel)]="type" [selectOptions]="typesearch" (ngModelChange)="changeoptions()" style="max-width: 42%; max-height: 100%; margin: 0rem; padding: 0rem; text-overflow: ellipsis;" class="inline">
						<ion-option value="name" selected>ชื่อหนังสือ</ion-option>
						<ion-option value="code">รหัสหนังสือ</ion-option>
					</ion-select>
				</ion-col>
				<ion-col style="width: 50%;">
					<ion-label style="max-width: 42%; width: 42%; max-height: 100%; margin: 0rem; padding: 0rem;" class="inline">เรียงจาก</ion-label>
					<ion-select [(ngModel)]="order" [selectOptions]="ordersearch" (ngModelChange)="changeoptions()" style="max-width: 42%; max-height: 100%; width: 42%; margin: 0rem; padding: 0rem; text-overflow: ellipsis;" class="inline">
						<ion-option value="DESC" selected>ใหม่ไปเก่า</ion-option>
						<ion-option value="ASC">เก่าไปใหม่</ion-option>
					</ion-select>
				</ion-col>
			</ion-row>
		</ion-grid>
  	</ion-navbar>
</ion-header>

<ion-content>
	<ion-item *ngFor="let rs of result">
		<div style="padding-left: 10%; width: 90%;" class="align-left inline">
			<div style="vertical-align: middle;">{{rs.title}}</div>
		</div>
		<button ion-button class="secondary" (click)="openmap(rs.id)" style="vertical-align: middle;">
			<ion-icon name="md-map" class="align-right pointer"></ion-icon>
		</button>
	</ion-item>
</ion-content>
