<ion-header>
  <ion-navbar>
	<div style='float: left;'>
		<ion-icon name="menu" menuToggle style='padding-left: 1rem; font-size: 3rem; cursor: pointer;'></ion-icon>
	</div>
	<div style='text-align: center;'>
		<ion-title style='margin: auto;'>Search</ion-title>
	</div>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div>
		<button ion-button (click)="searchNow()" style='display: inline-block;'>
			<ion-icon name='search' (click)="searchNow()"></ion-icon>
		</button>
		<ion-input style='display: inline-block; width: 80%; font-size: 2rem;' placeholder="ค้นหาหนังสือ" name="searchword" [(ngModel)]="word" clearInput></ion-input>
	</div>
	<p *ngIf="!flagShow">
	{{message.mes1}}
	</p>
	<div *ngIf="flagShow">
	<ion-list>
		<ion-item *ngFor="let xc of content">
		{{xc.content}}
		</ion-item>
	</ion-list>
	</div>
</ion-content>