<ion-header>
  	<ion-navbar class="no-padding">
      	<ion-grid class="nav-bar">
			<ion-row>
				<ion-col>
					<button class="icon-menu override-button-inner text-left full-width nav-bar" menuToggle>
						<ion-icon name="menu"></ion-icon>
					</button>
				</ion-col>
				<ion-col class="text-menu align-center" style="-webkit-flex: 3;">
					<div style="width: 100%; transform: translate(-16%,0%);">
						ภาพยนตร์
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
  	</ion-navbar>
	<ion-navbar class="no-padding">
      	<ion-grid>
			<ion-row>
				<ion-col class="full-both align-center">
					<ion-grid>
						<ion-row>
							<ion-col class="align-center" (click)="goPage('exhibition')">
								<ion-icon name="md-arrow-dropleft"></ion-icon>
							</ion-col>
							<ion-col class="align-center">
								<h3 style="font-size: 2rem;">Multimedia</h3>
							</ion-col>
							<ion-col class="align-center" (click)="goPage('technology')">
								<ion-icon name="md-arrow-dropright"></ion-icon>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-col>
			</ion-row>
		</ion-grid>
  	</ion-navbar>
</ion-header>

<ion-content>
	<ion-refresher (ionRefresh)="reload($event)">
		<ion-refresher-content
		pullingIcon="md-circles"
		pullingText="ดึงลงเพื่อโหลดข้อมูลใหม่"
		refreshingSpinner="md-circles"
		refreshingText="กำลังดึงข้อมูลจากเซิฟเวอร์...">
		</ion-refresher-content>
	</ion-refresher>
	<h5 *ngIf="error">{{error}}</h5>
	<div *ngIf="featured" style="position: relative; height: 30%; width: 80%; margin-top: 7%; margin-bottom: 20%;" class="align-center">
		<img [src]="featured.img" class="movie-img-featured" (click)="playthis(featured.url)" />
		<h5 class="movie-featured-title">{{featured.title}}</h5>
	</div>
	<div *ngFor="let movie of data" style="width: 100%; height: 40%; position: relative;">
		<div *ngIf="movie.index%2 != 0" class="movie-row">
			<div class="align-center movie-block">
				<img [src]="movie.img" (click)="playthis(movie.url)" class="movie-img" />
			</div>
			<div class="movie-border"></div>
			<div class="align-center movie-block" style="vertical-align: middle;">
				<h5 style="width: 100%; text-align: center;">{{movie.starttime}}</h5>
			</div>
		</div>
		<div *ngIf="movie.index%2 == 0" class="movie-row">
			<div class="align-center movie-block" style="vertical-align: middle;">
				<h5 style="width: 100%; text-align: center;">{{movie.starttime}}</h5>
			</div>
			<div class="movie-border"></div>
			<div class="align-center movie-block">
				<img [src]="movie.img" (click)="playthis(movie.url)" class="movie-img" />
			</div>
		</div>
	</div>
</ion-content>
